body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
}

.card{
    background-color: azure;
    padding: 20px;
    height: auto;
    overflow: visible;
    color: #000;
    border-radius: 10px;
    width: auto;
}
.search{
    display: flex;
    align-items: center;
    justify-content:center;
}
p{
    font-size: xx-large;
    /* margin-top: -10px; */
}
h1{
    /* margin-bottom: -30px; */
}